# SERVER PORT TO LIFT
KOA_SERVER_PORT=

# K8S
K8S_CLUSTER=
K8S_ENVIRONMENT=
K8S_INGRESS_SERVICE_URL=

# PACTOLUS API
PACTOLUS_API_URL=
PACTOLUS_API_KEY=
PACTOLUS_API_TIMEOUT=

# ELASTIC CONNECTION
ELASTIC_SEARCH_NODE_URL=

# EPOS
EPOS_CONNECTION_STRING=
EPOS_TIMEOUT=
EPOS_PACTOLUS_CLIENT_ID=
EPOS_PACTOLUS_CLIENT_NAME=
EPOS_FETCH_INVOICE_PATH=

# PUBSUB TOPICS
PUBSUB_TOPIC_PAYMENT_INTENTIONS_CREATED=
